# Byte-compiled / optimized / C extensions
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env/
Scripts

# Distribution / packaging
Lib

# Local files
.env
.pylintrc

# Log and result files
*.log
*.html
*.log.*

# IDE and OS-specific
.vscode/
.idea/
.DS_Store

# Testing
.pytest_cache/

